@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.landing {
    background-color: #161c3f;
}

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.upimg {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

#open {
    display: none;
}

.uploadInput:focus {
    outline: 0;
    border: 0;
}

#upload-textarea {
    width: 100%;
    resize: none;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 10px;
}

#upload-textarea:focus {
    background-color: #1f2a5f;
}

.upload-title span {
    color: #f5f5f5;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.Explore {
    height: 100vh;
    padding: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exploreNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ffffff43;
    padding-bottom: 10px;
}

.exploreSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 100%;
}

* {
    /* border: 1px solid rgba(255, 255, 255, 0.244); */
}

.debugCss {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #000000;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

.debugCss:hover {
    background-color: #1f2a5f;
}

.exploreSearch input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: #5b5b5b;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 50px;
}

.exploreSearch input:focus {
    background-color: #707070;
}

.exploreSearch input::placeholder {
    color: #c3c3c3;
}

.explorePosts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.exploreCard {
    width: calc(25% - 10px);
    min-width: 280px;
    height: 320px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.exploreCard:hover {
    transform: scale(1.05);
}

.ec-img {
    width: 100% !important;
    height: 85%;
    object-fit: cover;
}

.ec-load-img {
    width: 100% !important;
    height: 85%;
    background-color: #808080;
    animation: fadeandBlink 3s infinite;

}

@keyframes fadeandBlink {
    0% {
        opacity: 0.05;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.05;
    }

}

.ec-info {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.ec-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ec-info img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.ec-load-title {
    width: 100%;
    height: 15%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.ec-load-title-1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #808080;
    animation: fadeandBlink 3s infinite;
}

.ec-load-title-2 {
    width: 100%;
    height: 15%;
    padding: 10px;
    background-color: #808080;
    animation: fadeandBlink 3s infinite;
}

.explorePost {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 100px;
}

.ep-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ep-user img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.ep-u-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ep-u-data p {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
}

.ep-u-data span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #c3c3c3;
    margin: 0;
    cursor: pointer;
}

.ep-u-data span:hover {
    color: white;
}

.ep-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.ep-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
}

.ep-desc {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.ep-desc p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    margin: 0;
    text-align: justify;
    font-size: large;
}

.ep-thoughts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #ffffff0d;
    padding: 20px;
}


.ep-thoughts-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.ep-thoughts-item {
    width: 100%;
    display: flex;
    gap: 18px;
}

.ep-thoughts-item-user {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.ep-thoughts-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.ep-thoughts-item-user-data {
    display: flex;
    gap: 5px;
}

.ep-thoughts-item-user-data p {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
    cursor: pointer;
}

.addThought {
    width: 100%;
    display: flex;
}

.addThought-input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    background-color: #ffffff0d;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: large;
    gap: 10px;
}

.addThought-input img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.addThought-input input {
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #ffffff0d;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: large;
    resize: none;
}

.explore-load {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 100px;
}

.me-Home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 100px;
}

.me-profile {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff36;
}

.mp-image {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.mp-image img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.mp-load-img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #ffffff0d;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeandBlink 3s infinite;
}

.mp-name {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mp-load-name {
    width: 100%;
    height: 30px;
    background-color: #ffffff0d;
    border-radius: 18px;
    animation: fadeandBlink 3s infinite;
}

.mp-load-username {
    width: 100%;
    height: 20px;
    background-color: #ffffff0d;
    border-radius: 18px;
    animation: fadeandBlink 3s infinite;
}

.mp-load-bio {
    width: 280px;
    height: 20px;
    background-color: #ffffff0d;
    border-radius: 18px;
    animation: fadeandBlink 3s infinite;
}

.mp-load-btn {
    width: 100%;
    height: 40px;
    background-color: #ffffff0d;
    border-radius: 18px;
    animation: fadeandBlink 3s infinite;
}

.mp-name h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
    font-size: 32px;
}

.mp-btns {
    margin-top: 18px;
    display: flex;
    gap: 10px;
}

.me-posts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mp-sort {
    display: flex;
    gap: 5px;
}

.mp-post {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}

.mp-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.mp-top h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 28px;
}

.editProfile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 100px;
}

.editProfile__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.ep-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.ep-name {
    display: flex;
    gap: 16px;
}

.ep-name h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
    font-size: 32px;
}

.ep-home {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ep-earea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ep-etext {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.ep-etext p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    margin: 0;
    font-size: 20px;
}

.ep-etext input {
    width: 100%;
    height: 40px;
    background-color: #ffffff0d;
    border: none;
    padding: 0 10px;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.ep-etext input:read-only {
    background-color: #ffffff4a;
    cursor: not-allowed;
}

.ep-etext select {
    width: 100%;
    height: 40px;
    background-color: #ffffff0d;
    border: none;
    padding: 0 10px;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.ep-etext select option {
    background-color: #2a1a1a0d;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.ep-etext textarea {
    width: 100%;
    height: 180px;
    background-color: #ffffff0d;
    border: none;
    padding: 10px;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    resize: none;
}

.ep-social {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #1b1b1b27;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.socialAdd {
    height: 200px;
    width: 400px;
    background-color: #1b1b1b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.socialAdd input {
    width: 100%;
    height: 40px;
    background-color: #ffffff0d;
    border: none;
    padding: 0 10px;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.likeload svg {
    animation: rotate 1s infinite;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}