@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.landing {
    background-color: #161c3f;
}

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.upimg {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

#open {
    display: none;
}

.uploadInput:focus {
    outline: 0;
    border: 0;
}

#upload-textarea {
    width: 100%;
    resize: none;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 10px;
}

#upload-textarea:focus {
    background-color: #1f2a5f;
}

.upload-title span {
    color: #f5f5f5;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.Explore {
    height: 100vh;
    padding: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exploreNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ffffff43;
    padding-bottom: 10px;
}

.exploreSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 100%;
}

* {
    /* border: 1px solid rgba(255, 255, 255, 0.244); */
}

.debugCss {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #000000;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out
}

.debugCss:hover {
    background-color: #1f2a5f;
}

.exploreSearch input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: #5b5b5b;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 50px;
}

.exploreSearch input:focus {
    background-color: #707070;
}

.exploreSearch input::placeholder {
    color: #c3c3c3;
}

.explorePosts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.exploreCard {
    width: calc(25% - 10px);
    min-width: 280px;
    height: 320px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.exploreCard:hover {
    transform: scale(1.05);
}

.ec-img {
    width: 100% !important;
    height: 85%;
    object-fit: cover;
}

.ec-load-img {
    width: 100% !important;
    height: 85%;
    background-color: #808080;
    animation: fadeandBlink 3s infinite;

}

@keyframes fadeandBlink {
    0% {
        opacity: 0.05;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.05;
    }

}

.ec-info {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

.ec-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ec-info img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.ec-load-title {
    width: 100%;
    height: 15%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.ec-load-title-1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #808080;
    animation: fadeandBlink 3s infinite;
}

.ec-load-title-2 {
    width: 100%;
    height: 15%;
    padding: 10px;
    background-color: #808080;
    animation: fadeandBlink 3s infinite;
}

.explorePost {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 100px;
}

.ep-user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ep-user img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.ep-u-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ep-u-data p {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
}

.ep-u-data span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #c3c3c3;
    margin: 0;
    cursor: pointer;
}

.ep-u-data span:hover {
    color: white;
}

.ep-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.ep-more {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.ep-more-posts {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.ep-more h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
    text-align: justify;
    font-size: 35px;
}

.ep-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
}

.ep-desc {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 100px;
}

.ep-userC {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ep-userCard {
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #ffffff0d;
    padding-bottom: 20px;
}

.epc-top {
    position: relative;
    height: 5px;
    border-radius: 50px;
    background-color: #ffffff0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.epc-info {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    padding: 10px;
    padding-top: 50px;
}

.epc-info h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin: 0;
    text-align: justify;
    font-size: 25px;
}

.epc-info p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    text-align: justify;
    font-size: 15px;
    color: #c3c3c3;
    display: flex;
    align-items: center;
    gap: 10px;
}


.epc-top img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.ep-desc p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    margin: 0;
    text-align: justify;
    font-size: large;
}

.ep-thoughts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #ffffff0d;
    padding: 20px;
}


.ep-thoughts-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.ep-thoughts-item {
    width: 100%;
    display: flex;
    gap: 18px;
}

.ep-thoughts-item-user {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.ep-thoughts-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.ep-thoughts-item-user-data {
    display: flex;
    gap: 5px;
}

.ep-thoughts-item-user-data p {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
    cursor: pointer;
}

.addThought {
    width: 100%;
    display: flex;
}

.addThought-input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 10px;
    background-color: #ffffff0d;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: large;
    gap: 10px;
}

.addThought-input img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.addThought-input input {
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #ffffff0d;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: large;
    resize: none;
}

.explore-load {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 100px;
}

.me-Home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 100px;
}

.me-profile {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff36;
}

.mp-image {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.mp-image img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.mp-load-img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #ffffff0d;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeandBlink 3s infinite;
}

.mp-name {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mp-load-name {
    width: 100%;
    height: 30px;
    background-color: #ffffff0d;
    border-radius: 18px;
    animation: fadeandBlink 3s infinite;
}

.mp-load-username {
    width: 100%;
    height: 20px;
    background-color: #ffffff0d;
    border-radius: 18px;
    animation: fadeandBlink 3s infinite;
}

.mp-load-bio {
    width: 280px;
    height: 20px;
    background-color: #ffffff0d;
    border-radius: 18px;
    animation: fadeandBlink 3s infinite;
}

.mp-load-btn {
    width: 100%;
    height: 40px;
    background-color: #ffffff0d;
    border-radius: 18px;
    animation: fadeandBlink 3s infinite;
}

.mp-name h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
    font-size: 32px;
}

.mp-btns {
    margin-top: 18px;
    display: flex;
    gap: 10px;
}

.me-posts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mp-sort {
    display: flex;
    gap: 5px;
}

.mp-post {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}

.mp-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.mp-top h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 28px;
}

.mp-followers {
    display: flex;
    gap: 10px;
}

.mp-following {
    padding: 10px;
    background-color: #ffffff0d;
    border-radius: 10px;
    cursor: pointer;
}

.editProfile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 100px;
}

.editProfile__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.ep-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.ep-name {
    display: flex;
    gap: 16px;
}

.ep-username {
    color: #efbd3f !important;
    font-weight: 800;
    cursor: pointer;
}

.ep-username:hover {
    text-decoration: underline;

}

.ep-name h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: white;
    margin: 0;
    font-size: 32px;
}

.ep-home {
    width: 50%;
    min-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ep-earea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ep-etext {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.ep-etext p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    margin: 0;
    font-size: 20px;
}

.ep-etext input {
    width: 100%;
    height: 40px;
    background-color: #ffffff0d;
    border: none;
    padding: 0 10px;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.ep-etext input:read-only {
    background-color: #ffffff4a;
    cursor: not-allowed;
}

.ep-etext select {
    width: 100%;
    height: 40px;
    background-color: #ffffff0d;
    border: none;
    padding: 0 10px;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.ep-etext select option {
    background-color: #2a1a1a0d;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.ep-etext textarea {
    width: 100%;
    height: 180px;
    background-color: #ffffff0d;
    border: none;
    padding: 10px;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    resize: none;
}

.ep-social {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #1b1b1b27;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.socialAdd {
    height: 200px;
    width: 400px;
    background-color: #1b1b1b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.socialAdd input {
    width: 100%;
    height: 40px;
    background-color: #ffffff0d;
    border: none;
    padding: 0 10px;
    outline: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.likeload svg {
    animation: rotate 1s infinite;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.ep-soc-card {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff0d;
}

.ec-left {
    max-width: 80%;
    gap: 10px;
    display: flex;
    align-items: center;
    width: 80%;
}

.ep-soc-card img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.ep-socials {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.dashboard h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 28px;
}

.dashboard__info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff0d;
    border-radius: 10px;
}

.dashboard__info__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard__info__text button {
    width: 200px;
}

.dash-btns {
    display: flex;
    gap: 10px;
}

.dash-stats {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.ds-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #ffffff0d;
    border-radius: 10px;
    min-width: 300px;
    transition: ease-in-out 0.2s;
}

.dash-create {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.dc-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff0d;
    border-radius: 10px;
    min-width: 300px;
    transition: ease-in-out 0.2s;
}

.dc-item:hover {
    background-color: #ffffff1a;
    cursor: pointer;
}

.dc-item h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 58px;
    text-align: center;
}

.dc-item h1 svg {
    size: 45px;
    fill: rgba(255, 255, 255, 0.748);
}

.dc-svg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dc-svg svg {
    width: 100%;
    height: 100%;
    max-width: 40px;
    max-height: 40px;
    color: #fff;
    fill: rgba(255, 255, 255, 0.748);
}

.create-portfolio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.create-portfolio__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cc-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    background-color: #ffffff0d;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.cc-items h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 28px;
}

.cc-items p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 18px;
}

.cc-the {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    background-color: #ffffff0d;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
}

.cc-themes {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
}

.cc-theme img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}

.cc-theme {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    background-color: #ffffff0d;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
}

.pf-home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pf-left {
    min-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.pf-left h2,
.pf-preview h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 28px;

}

.pf-preview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}



.pf-left::-webkit-scrollbar {
    width: 10px;
}

.pf-left::-webkit-scrollbar-track {
    background: #ffffff0d;
}

.pf-left::-webkit-scrollbar-thumb {
    background: #ffffff1a;
    border-radius: 10px;
}

.pf-data {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pd-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff0d;
    border-radius: 10px;
}

.pd-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.pd-wrap h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 18px;
}

.pd-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pd-input p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 18px;
}

.pd-input input,
.pd-input textarea {
    width: 100%;
    height: 40px;
    background-color: #ffffff0d;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.748);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    resize: vertical;
}

.pd-input textarea {
    height: 100px;
    max-height: 300px;
}

.link-card {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff0d;
}

.link-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.link-card-header img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
}

.link-card-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ec-lefty {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
}

.ep-bts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
}

.eps-bts button {
    flex: 1;
}

.getQr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.explore-load h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 28px;
}

.explore-load h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 18px;
}

.explore-load {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 80px);
}

.copied {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
    }
}

.pp-portfolio {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.pp-portfolio-landing {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ph-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.ph-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ph-img img {
    filter: blur(5px) brightness(0.5);
}

.ph-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 450px;
}

.ph-content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 50px;
}

.ph-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 18px;
}

.pp-portfolio-about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: 80vh;
}

.ph-about-img img {
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.ph-aboutDetail {
    display: flex;
    height: 100%;
    height: 400px;
    flex-direction: column;
    gap: 20px;
    max-width: 450px;
}

.ph-aboutDetail h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin: 0;
    font-size: 50px;
}

.pha-tbl {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pha-tbl-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.pha-tbl-col:nth-child(1) {
    width: 100px;
}

.ph-projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    min-height: 80vh;
    background-color: #ffffff0d;
}

.ph-projects h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin: 0;
    font-size: 50px;
}

.ph-projects-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.ph-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 20vh;
}

.ph-socials {
    display: flex;
    gap: 5px;
}

.ph-socials img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.pro-basic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.pro-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80vh;
    width: 100%;
}

.pro-header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(0px) brightness(0.5);
    z-index: -2;
}

.pro-header-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pro--abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0.2;
    padding: 10px;
    z-index: -1;
    flex-direction: column;
    justify-content: space-between;
}

.pro--abs p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(49, 225, 40, 0.861);
    margin: 0;
    font-size: 22px;
}

.pro-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 550px;
    border-radius: 5px;
    backdrop-filter: blur(1px);
    background-color: #0000006c;
    animation: fadeslide 1s ease-in-out;
}

@keyframes fadeslide {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.pro-header-content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin: 0;
    font-size: 50px;
}

.pro-header-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.748);
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.pro-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #0c2a57;
}

.pro-about-pics img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
}

.pro-about-pics-img {
    padding: 20px;
    background-color: #00000035;
    border: 5px solid #ffffff15;
    border-radius: 50%;
}

.pro-about-desc-card {
    padding: 20px;
    border-radius: 20px;
    z-index: 2;
    background-color: #323232;
    height: auto !important;
    width: auto !important;
    max-width: 600px;
    transform: rotate(5deg);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    animation: entry .5s ease-in-out;
}

.pro-about-abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pro-about-abs h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin: 0;
    font-size: 50px;
}

@keyframes entry {
    0% {
        opacity: 0;
        transform: rotate(15deg);
    }

    100% {
        opacity: 1;
        transform: rotate(5deg);
    }
}

.pro-about-desc-card:hover {
    box-shadow: 0px 0px 10px 5px #000000;
}

.pro-about-desc-card p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    font-size: 22px;
}

.const {
    color: #9210ba;
}

.padc-det span {
    color: #1570b1 !important;
}

.padc-det {
    padding-left: 30px;
}

.padc-det p a:hover {
    color: #b15115 !important;
    transition: all 0.5s ease-in-out;
}

.padt-proj p {
    padding-left: 40px !important;
}

.padc-det p {
    color: rgb(7, 204, 7);
}

.padc-abs {
    position: absolute;

}

.padc-btns {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.padc-btn {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.padc-btn:nth-child(1) {
    background-color: #ff0000;
}

.padc-btn:nth-child(2) {
    background-color: #ffea00;
}

.padc-btn:nth-child(3) {
    background-color: #00ff00;
}

.cc-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.cc-wrapper {
    display: flex;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
    width: 100%;
}

.cc-item-site {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.cc-det {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.cc-det-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modelBtn {
    display: none;
}




@media only screen and (max-width:680px) {
    .upload-btn {
        display: none;
    }

    .pp-portfolio-about {
        flex-direction: column;
        height: auto;

    }

    .ph-about-img img {
        border-radius: 20px;
    }

    .ph-aboutDetail {
        height: auto;
        width: 100%;
    }

    .ph-projects-list {
        justify-content: center;
    }

    .pf-left {
        width: 100%;
        min-width: 0;
    }

    .dash-btns {
        flex-direction: column;
    }

    .dashboard__info {
        flex-direction: column;
    }

    .dashboard__info__text button {
        width: 100%;
    }

    .me-Home {
        padding: 10px;
    }

    .mp-post {
        flex-direction: column;
        align-items: center;
    }

    .mp-name h1 {
        font-size: 20px;
    }

    .me-profile {
        flex-direction: column;
    }

    .mp-image {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .explorePosts {
        align-items: center;
        justify-content: center;
    }

    .exploreSearch {
        width: 100%;
    }

    .pro-about {
        flex-direction: column;
        padding-top: 80px;
    }

    .pro-about-desc-card {
        transform: rotate(0deg);
        max-width: 95%;
        width: 100% !important;
        z-index: inherit;
    }

    .pro-about-desc-card p {
        font-size: 18px;
        /* wrap text */
        white-space: pre-wrap;
        /* get textinside the parent container */
        word-break: break-all;
    }

    .padc-det {
        padding-left: 5px;
    }

    .padt-proj p {
        padding-left: 15px !important;
    }

    .pro-header-content h1 {
        font-size: 35px;
        text-align: center;
    }

    .cc-items h2 {
        font-size: 20px;
    }

    .cc-items p {
        font-size: 15px;
        color: #ffffff58;
    }

    .cc-items {
        align-items: flex-start;
    }

    .ep-home {
        width: auto;
        min-width: 0;
    }

    .editProfile {
        padding: 10px;
    }

    .explorePost {
        padding: 10px;
    }

    .ep-top {
        flex-direction: column;
        width: 100%;
    }

    .ep-more-posts {
        flex-direction: column;
    }

    .ep-desc {
        flex-direction: column;
        width: 100%;
    }

    .mp-name {
        width: 100%;
    }

}